.input:focus, select:focus, option:focus{ /*클릭시 테두리 제거*/
    outline: none;
}

/********* RegisterSelection *********/
.regSelPage{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.registerSelection{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 230px;
    height: 61px;

    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.selection{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.studentRegister{
    background-color: #2D81FF;
    border-radius: 12px;
    width: 16rem;
    padding: 2rem;

    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    border: none;

    align-items: center;
    display: flex;
    justify-content: center;
}

.studentRegister:hover{
    background-color: #EEF2FF;
    color: #2D81FF;
    transition: 300ms ease-in-out;
    border: solid;
}

.teacherRegister{
    background-color: #6C809D;
    border-radius: 12px;
    width: 16rem;
    padding: 2rem;

    color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 600;

    align-items: center;
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.teacherRegister:hover{
    background-color: #EEF2FF;
    color: #2D81FF;
    transition: 300ms ease-in-out;
    border: solid;
}

.icon{
    font-size: 40px;
    margin-right: 5px;
}


/********* StudentRegister *********/

.RegisterPage{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.Info{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.studentTitle{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #2D81FF;

    margin-bottom: 20px;
}

.studentTitle span{
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
}

.infoIcon{
    width: 80px;
    height: 80px;
}

.Form{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.Form label{
    display: inline-block;
    text-align: right;
}

.Form span{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 6px;
}

.inputBox{
    border: solid 1px #D9D9D9;
    padding: 0;
    width: 318px;
    height: 54px;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin: 0 0 12px 20px;
    text-indent: 15px;
    font-size: 20px;
    color: #444444;
}

input::placeholder{
    color: #444444;
}

input:required:valid{
    background-color: #EEF2FF;
}

input:read-only{
    background-color: #EEF2FF;
}

.select{
    border: solid 1px #D9D9D9;
    padding: 0;
    width: 318px;
    height: 54px;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin: 0 0 12px 20px;
    text-indent: 10px;
    font-size: 20px;
    color: #444444;
}

select:required:valid{
    background-color: #EEF2FF;
}

.studentSubmitBtn{
    width: 115px;
    height: 54px;
    border-radius: 12px;
    border: none;
    background-color: #2D81FF;

    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;

    margin-top: 30px;
    margin-left: 290px;
}

.studentSubmitBtn:hover{
    background-color: #EEF2FF;
    color: #2D81FF;
    transition: 300ms ease-in-out;
    border: solid;
}


/********* TeacherRegister *********/


.teacherTitle{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #6C809D;

    margin-bottom: 20px;
}


.teacherTitle span{
    font-weight: 600;
    font-size: 30px;
    margin-left: 20px;
}

.teacherSubmitBtn{
    width: 115px;
    height: 54px;
    border-radius: 12px;
    border: none;
    background-color: #2D81FF;

    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;

    margin-top: 30px;
    margin-left: 320px;
}

.teacherSubmitBtn:hover{
    background-color: #EEF2FF;
    color: #2D81FF;
    transition: 300ms ease-in-out;
    border: solid;
}



