
.content {
    margin: 12px 0 12px 42px;
    display: grid;
    width: 922px;
    height: 230px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 44px;
}

.date{
    display: block;
    margin: 30px 0 12px 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.mealoft{
    background-color: #FFFFFF;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
}

.todo{
    background-color: #FFFFFF;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
}

.nextclass{
    background-color: #FFFFFF;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
}

.todaytitle{
    position: absolute;
    display: block;
    font-weight: var(--semi-bold);
    padding: 10px;
    color: var(--blue-color);
    margin: 10px;
    width : 120px;
}

.cardcontent{
    position: absolute;
    margin: 50px 10px 0 10px;
    display: grid;
    height : 120px;
    width: 250px;
    grid-template-columns: repeat(2,1fr);
}

.Listul{
    margin: 0;
}


button{
    position: absolute;
    background-color: whitesmoke;
    border-radius: 20px;
    border: none;
    width: 65px;
    height: 25px;
    font-size: 10px;
    color: #444444;
    font-weight: var(--bold);
    margin: 190px 200px 10px 10px;
}

button:hover{
    color: var(--blue-color);
}

.classtime{
    position: absolute;
    margin: 20px 0 30px 210px;
    width: 50px;
    height: 16px;
    font-size: 14px;
    color: #9B9B9B;
    text-align: center;
}

