.leftSide{
    width: 450px;
    height: 250vh;
    display: inline-block;
    position: relative;
    background-color: var(--light-grey-color);
}

.wrapper{
    height: 100%;
}

.buttons{
    color: var(--txt-color);
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 10px;
    border: 1.5px solid var(--line-color);
    width: 152px;
    height: 38px;
    margin: 18px 0 0 15px;
}

.buttons:hover{
    background-color: var(--light-grey-color);
}

.buttons.highlight{
    color: var(--white-color);
    background-color: var(--blue-color);
    font-weight: bold;
}

.buttons.highlight:hover {
    background-color: var(--dark-blue-color);
}

.avartar{
    width: 350px;
    position: relative;
    padding: 0 20px 0 20px;
    margin: auto;
}

.photo{
    width: 100%;
    margin-top: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid 2px var(--line-color);
}

.userName{
    font-size: 32px;
    font-weight: var(--bold);
    margin: 22px 0 0 18px;
}

.userInfo{
    font-size: 24px;
    margin: 12px 0 0 18px;
}

.horizontalDivider{
    position: relative;
    width: 100%;
    height: 2px;
    margin: 20px 0 20px 0;
    background-color: var(--line-color);
}

.menus{
    display: block;
    margin-top: 14px 50px 0 50px;
}

.menus > a{
    width: 350px;
    height: 36px;
    color: var(--txt-color);
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    display: block;
    background-color: var(--white-color);
    color: var(--txt-color);
    margin: 8px auto 0 auto;
    border: 1px solid var(--line-color);
    border-radius: 2px;
}

.menus > a:hover {
    background-color: var(--light-grey-color);
}

.menus > a > svg{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
}
