.meal{
    width: 924px;
    height: 880px;
    box-sizing: border-box;
    border: 1px solid var(--line-color);
    margin-left: 42px;
    border-collapse: collapse;
}

.dates{
    height: 30px;
    border-right: 1px solid var(--line-color);
}