:root{
    --light-grey-color: #F6F8FA;
    --grey-color: #dadbde;
    --dark-grey-color: #9B9B9B;
    --white-color: #FFFFFF;
    --blue-color: #2D81FF;
    --dark-blue-color: #2473EA;
    --red-color: #FF5555;
    --line-color: #D9D9D9;
    --shadow-line-color: #EDF0F3;
    --btn-bg-color: #F6F8FA;
    --txt-color: #444444;
    --light-txt-color: #909090;

    --kakao-color: #FEE500;
    --naver-color: #03C75A;
    
    --bold: 700;
    --semi-bold: 600;
    --medium : 500;
    --regular: 400;
}

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html, body {
    font-size: 16px;
    background-color: var(--white-color);
    color: var(--txt-color);
    font-family: 'Roboto';
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container{
    position: relative;
    padding: 0 0 25px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}