:root{
    --light-grey-color: #F6F8FA;
    --grey-color: #dadbde;
    --dark-grey-color: #9B9B9B;
    --white-color: #FFFFFF;
    --blue-color: #2D81FF;
    --dark-blue-color: #2473EA;
    --line-color: #D9D9D9;
    --btn-bg-color: #F6F8FA;
    --txt-color: #444444;
    --light-txt-color: #ADADAD;
    
    --bold: 700;
    --semi-bold: 600;
    --medium : 500;
    --regular: 400;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 16px;
    background-color: var(--white-color);
    color: var(--txt-color);
    font-family: 'Roboto';
}

.container{
    position: relative;
    padding: 0 0 25px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}