.content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 44px;
}

.date{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 12px 0;
}

.mealoft{
    background-color: #FFFFFF;
    border: solid 1px var(--shadow-line-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

.todo{
    background-color: #FFFFFF;
    border: solid 1px var(--shadow-line-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

.nextclass{
    background-color: #FFFFFF;
    border: solid 1px var(--shadow-line-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

.todaytitle{
    display: inline-block;
    font-weight: var(--bold);
    color: var(--blue-color);
    margin: 15px 0 0 15px;
    width : 120px;

    font-size: 1em;
}

.card{
    display: inline-block;
    margin: 14px 0 0 12px;
    width: 250px;
}

.cardcontent{
    position: relative;
    display: grid;
    height : 120px;
    margin: 10px;

    align-items: center;
    justify-items: center
}

.cardcontentmeal{
    white-space: pre-line; /*음식이름 다음에 있는 공백을 개행으로*/
    /*white-space: pre-line; !*음식이름 다음에 있는 공백을 개행으로*!*/
}

.cardcontenttodo {
    position: relative;
    display: grid;
    height : 120px;
    width: 100%;
    margin: 10px 0;
    grid-template-columns: repeat(1,1fr);

    align-items: center;
    justify-items: center
}

.cardcontent ul{
    font-weight: var(--regular);
}

.Listul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.Listul li{
    margin-bottom: 0.3em;
}

/* todo */
.subject{
    margin-right: 0.8em;
    color: var(--blue-color);
}

/* navigate button */
.btn{
    background-color: var(--btn-bg-color);
    border-radius: 20px;
    border: none;
    width: 65px;
    height: 25px;
    font-size: 10px;
    color: var(--txt-color);
    font-weight: var(--regular);

    margin-right: 10px;
    margin-bottom: 0.5em;
}

.btn:hover{
    color: var(--blue-color);
}

.btnWrapper{
    display: flex;
    flex-direction: row-reverse;
}

.classtime{
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #9B9B9B;
    text-align: center;
    top: 20px;
    right: 24px;
}

