.leftSide{
    display: inline-block;
    font-size: 16px;
    width: 20%;
    max-width: fit-content;

    height: 150vh;
    background-color: var(--light-grey-color);
    border: solid 1px var(--shadow-line-color);
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 41, 102, 0.08);
    border-radius: 20px;
    padding: 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    width: 80%;
    min-width: 10em;
    max-width: 15em;

    position: relative;
    display: flex;
    flex-direction: column
}

.photo{
    width: 100%;
    margin-top: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid 2px var(--line-color);
}

.userNickname{
    display: block;
    font-size: 24px;
    font-weight: var(--semi-bold);
    margin: 16px auto 0 auto;
}

.userInfo{
    font-size: 16px;
    margin: 5px auto 0 auto;
}

.userInfo > p{
    color: var(--light-txt-color);
    display: inline;
}

.userBelong{
    margin-left: 0.75rem;
}

/* buttons */

.buttons {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.8em;
    width: 100%;
    padding: 0 10px;
}

.button{
    color: var(--txt-color);
    text-decoration: none;
    text-align: center;

    background-color: var(--white-color);
    border-radius: 55px;
    border: 1px solid var(--line-color);

    font-size: 14px;
    width: 45%;
    padding: 6px 0 6px 0;
}

.button:hover{
    background-color: var(--light-grey-color);
}

.button.highlight{
    color: var(--white-color);
    background-color: var(--blue-color);
    font-weight: bold;
}

.button.highlight:hover {
    background-color: var(--dark-blue-color);
}

/* divider */
.horizontalDivider{
    position: relative;
    width: 250px;
    height: 2px;
    margin: 0.75rem auto 1rem auto;
    background-color: var(--line-color);
}

/* menus */
.menus{
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.menus > a{
    box-sizing: border-box;
    color: var(--txt-color);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white-color);
    color: var(--txt-color);
    margin-top: 4px;
    padding: 0.5em 0;
    border: 1px solid var(--line-color);
    border-radius: 2px;
}

.menus > a:hover {
    background-color: var(--light-grey-color);
}

.menus > a > svg{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
}

@media screen and (max-width: 786px) {
    .leftSide {
        display: none;
    }
}