.title{
    display: block;
    font-size: 20px;
    font-weight: var(--bold);
    margin: 1em 0 12px 42px;
}

.timeTable{
    width: 700px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid var(--line-color);
    margin-left: 42px;
    border-collapse: collapse;
}

thead{
    height: 30px;
}

.period{
    width: 70px;
    font-weight: var(--bold);
}

th{
}

td{
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--line-color);
    text-align: center;
    width: 100px;
    height: 100px;
}

.subject{

}
