.article {
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    margin-bottom: 6px;
}

.article:hover {
    cursor: pointer;
}

p{
    margin: 0;
}

.articleTitle {
    color: var(--txt-color);
    font-size: 16px;
}

.articleContent {
    color: var(--light-txt-color);
    margin-top: 8px;
    font-size: 14px;
    width: 80%;

    white-space: nowrap;
    overflow: hidden;
    line-height: 14px;
    max-height: 14px;
    text-overflow: ellipsis;
}

.infos {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 8px;
}

.basicInfo {
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--light-txt-color);
}

.basicInfo > p{
    margin-left: 0.5em;
    color: var(--txt-color);
}

.responseInfo {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.responseInfo > svg {
    color: var(--blue-color);
    margin-right: 4px;
}

.responseInfo > p {
    margin-right: 4px;
}

@media screen and (max-width: 786px) {
    .articleTitle {
        font-size: 14px;
    }
    .articleContent {
        font-size: 12px;
        line-height: 12px;
        max-height: 12px;
    }
    .basicInfo {
        font-size: 8px;
    }
    .responseInfo {
        font-size: 10px;
    }
}