.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 50em;
    min-width: 20em;
    padding: 1em;
}

.previews {
    width: 100%;
}

.addBtn {
    display: flex;
    align-items: center;
    
    font-size: 1em;
    margin-top: 16px;
    border: none;
    background-color: var(--white-color);
    color: var(--blue-color);
}

.addBtn:hover {
    cursor:pointer;
}

@media screen and (max-width: 786px) {
    .wrapper{
        font-size: 14px;
    }
}