/* Social Login */
.socialBtn {
    border: none;
    width: 318px;
    height: 52px;
    border-radius: 5px;
    margin-top: 9px;
    font-style: normal;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.socialIcon {
    margin: auto;
}

.guide {
    margin: 2rem 0 0 0;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: var(--medium);
    color: var(--light-txt-color);
}